.all-cards{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

    margin-top: -5px;
    padding: 10px;

}

.winner-modal{
    position: fixed;

    margin-left: 270px;
    margin-top: 50px;

    border: 1px solid #ffcb05;
    border-radius: 10px;
}



