@font-face {
    font-family: pixel;
    src: url('../assets/SummerPixel22Regular-jE0W7.ttf');
}

.scoreboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;

    font-size: 25px;
    font-family: pixel;
    color: #003a70;

    margin-top: -15px;
}

.score-instructions {
    position: absolute;
    margin-top: -30px;
    margin-left: 580px;

    font-family: pixel;
    font-size: 20px;
    font-weight: 800;
    color: #003a70;
}